{% extends "main/base.html" %}
{% load i18n %}

{% load url from future %}

{% block title %}
<title>{%trans 'Backend Problems'%}'- ProviSec Testbed</title>
{% endblock %}

{% block content %}
<h1>{%trans 'Backend Problems'%}</h1>

<p>{%trans 'The ToMaTo backend is not responding properly. Please try again later.'%}</p>

<p>{%trans 'If this problem continues to occur, please contact an administrator.'%}</p>

<p>
    <table>
        <tr>
            <th>{%trans 'ToMaTo Module'%}</th>
            <td>{{tomato_module}}</td>
        </tr>
        <tr>
            <th>{%trans 'Code'%}</th>
            <td>{{code}}</td>
        </tr>
        <tr>
            <th>{%trans 'Description'%}</th>
            <td>{{text}}</td>
        </tr>
    </table>
</p>
{% endblock %}          