{% extends "base.html" %}
{% load i18n %}

{% load url from future %}

{% block title %}
<title>{%trans 'Device profile '%}{{profile.label}}' - ProviSec Testbed</title>
{% endblock %}

{% block content %}
{% load tomato %}

<form>
  <button type="submit" formaction="{%url "profile_list"%}" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-list"></span> {%trans 'All Device Profiles%}</button>
</form>

<h1>{%trans 'Device profile'%} '{{profile.label}}'</h1>

<div class="skip-sm"></div>

{% load tomato %}

<table class="table">
	<tr>
		<th>{%trans 'Name'%}:</th>
		<td>{{profile.name}}</td>
	</tr>
	<tr>
		<th>{%trans 'Label'%}:</th>
		<td>{{profile.label}}</td>
	</tr>
	<tr>
		<th>{%trans 'Tech'%}:</th>
		<td><img src="/img/{{profile.tech}}16.png" /> {{profile.tech|tech_to_label}} <small>({{profile.tech}})</small></td>
	</tr>
	<tr>
		<th>{%trans 'Preference'%}:</th>
		<td>{{profile.preference}}</td>
	</tr>	
	<tr>
		<th>{%trans 'Restricted'%}:</th>
		<td>
		{% if profile.restricted %}
			<img src="/img/lock.png" /> yes
		{% else %}
			no
		{% endif %}
		</td>
	</tr>	
	<tr>
		<th>{%trans 'Resources'%}:</th>
		<td>
			<dl class="dl-horizontal">
				{% if profile.tech != 'repy' %}
  					<dt>{%trans 'Disk space'%}</dt><dd>{{profile.diskspace}} MB</dd>
				{% endif %}
				<dt>{%trans 'Memory'%}</dt><dd>{{profile.ram}} MB</dd>
				<dt>{%trans 'CPUs'%}</dt><dd>{{profile.cpus}}</dd>
			</dl>		
	    </td>
	</tr>
	<tr>
		<th>{%trans 'Description'%}:</th>
		<td>{{profile.description|linebreaks|escape|simpletags:"b i em strong"|safe }}</td>
	</tr>
</table>

<div class="skip-sm"></div>

{% load tomato %}

{% if request.session.user.isGlobalHostManager or request.session.user.isGlobalAdmin %}
<form>
  <button type="submit" formaction="{%url "profile.edit" profile.id%}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> {%trans 'edit device profile'%}</button>
  <button type="submit" formaction="{%url "profile.remove" profile.id%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> {%trans 'remove device profile'%}</button>
</form>
{%endif%}

{% endblock %}