docs_build

*/config
*/logs
*.pyc
*.pyo
*.komodoproject
*.pydevproject
*.sqlite
*~
.*.swp
*.lyx#
*Thumbs.db*
~$*.pptx
*.log
*.pem
*.torrent
*.conf
.idea
__pycache__

*old*
certs
web/tomato/static/newui
backend/htmlcov
backend/templates
backend/dumps
docs/presentations
cli/ovz
docs/static/doc
cli/tests/backend/old

###########################

*.qcow2
*.tar.gz

# docker
# docker.bak
# web/tomato/static

js.bak