{% extends "topology/base.html" %}
 {% load i18n %}

{% load url from future %}
{% load tomato %}

{% block title %}
<title>{% trans 'Import Topology' %} - ProviSec Testbed</title>
{% endblock %}

{% block content %}
<h1>{% trans 'Import Topology' %}</h1>

	<form action="{%url "topology.import_"%}" method="post" enctype="multipart/form-data">
		<table class="whitebg">
			{{form.as_table}}
			<tr>
				<td />
				<td align="right">
					<input type="submit" value="Import" />
				</td>
			</tr>
		</table>
	</form>
	
{% endblock %}
