{% extends "base.html" %}

{% load url from future %}

{% block title %}
<title>Scenario '{{scenario.name}}' - ProviSec Testbed</title>
{% endblock %}

{% block header %}
<link type="text/css" href="/style/pretty-json.css" rel="stylesheet" />
<link type="text/css" href="/style/jquery-ui.css" rel="stylesheet" />
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/underscore-min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/backbone-min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/pretty-json-min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/pretty-json-popup.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/dynimg.js"></script>

<script language="JavaScript" type="text/javascript">
    function showTopology(scenarioId) {
        var url = "{%url 'scenario_download_topo' '012345678901234567890123' %}";
        url = url.replace('012345678901234567890123', scenarioId);
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState==4) {
                var res = JSON.parse(xmlhttp.responseText);     // xmlhttp.responseText: JSON content
                var title = "Scenario Topology Info: " + scenarioId;
                var filename = scenarioId + ".json";
                pretty_json_popup(res, title, filename);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
</script>
{% endblock %}


{% block content %}
{% load tomato %}

<form>
    <button type="submit" formaction="{%url 'scenario_list'%}" class="btn btn-primary" style="float:right;">
        <span class="glyphicon glyphicon-list"></span>
        All Scenarios
    </button>
</form>

<h1>Scenario '{{scenario.name}}'</h1>

<div class="skip-sm"></div>

{% load tomato %}

<table class="table" id="content">
    <tr>
        <th>ID:</th>
        <td>{{ scenario.id }}</td>
    </tr>
    <tr>
        <th>Name:</th>
        <th>{{ scenario.name }}</th>
    </tr>
    <tr>
        <th>Description:</th>
        <th>{{ scenario.description }}</th>
    </tr>
    <tr>
        <th>Accessibility:</th>
        <th>{{ scenario.accessibility }}</th>
    </tr>
    <tr>
        <th>Author:</th>
        <th>{{ scenario.author }}</th>
    </tr>
    <tr>
        <th>Creation Time:</th>
        <th>{{ scenario.create_time }}</th>
    </tr>
    <tr>
        <th>Topology Info:</th>
        <th>
            <label style="width: 80%; height: 30em">
                <textarea style="width: 100%; height: 30em">
                    {{ scenario.topology_info_json }}
                </textarea>
            </label>
        </th>
    </tr>
</table>

<div class="skip-sm"></div>

{% load tomato %}

{% if request.session.user.isGlobalHostManager %}
<form>

    <button type="submit" onclick="showTopology('{{ scenario.id }}'); return false" class="btn btn-default">
        <span class="glyphicon glyphicon-info-sign"></span>
        topology info
    </button>
    <button type="submit" formaction="{%url 'scenario_upload_topo' scenario.id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-upload"></span>
        upload topo
    </button>
    <button type="submit" formaction="{%url 'scenario_download_topo' scenario.id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-download"></span>
        download topo
    </button>

    <button type="submit" formaction="{%url 'scenario_deploy' scenario.id %}" class="btn btn-primary">
        <span class="glyphicon glyphicon-cog"></span>
        deploy scenario
    </button>
    <button type="submit" formaction="{%url 'scenario_edit' scenario.id %}" class="btn btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
        edit scenario
    </button>
    <button type="submit" formaction="{%url 'scenario_remove' scenario.id %}" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
        remove scenario
    </button>

</form>
{%endif%}

{% endblock %}