{% extends "base.html" %}

{% load url from future %}

{% block header %}
<script language="JavaScript" type="text/javascript" src="/js/dynimg.js"></script>
{% endblock %}

{% block title %}
<title>Scenario '{{scenario.name}}' - ToMaTo Testbed</title>
{% endblock %}

{% block content %}
{% load tomato %}

<form>
    <button type="submit" formaction="{%url 'scenario_list'%}" class="btn btn-primary" style="float:right;">
        <span class="glyphicon glyphicon-list"></span>
        All Scenarios
    </button>
</form>

<h1>Scenario '{{scenario.name}}'</h1>

<div class="skip-sm"></div>

{% load tomato %}

<table class="table">
    <tr>
        <th>ID:</th>
        <td>{{ scenario.id }}</td>
    </tr>
    <tr>
        <th>Name:</th>
        <th>{{ scenario.name }}</th>
    </tr>
    <tr>
        <th>Description:</th>
        <th>{{ scenario.description }}</th>
    </tr>
    <tr>
        <th>Accessibility:</th>
        <th>{{ scenario.accessibility }}</th>
    </tr>
    <tr>
        <th>Author:</th>
        <th>{{ scenario.author }}</th>
    </tr>
    <tr>
        <th>Creation Time:</th>
        <th>{{ scenario.create_time }}</th>
    </tr>
    <tr>
        <th>Topology Info:</th>
        <th>
            <label style="width: 80%; height: 30em">
                <textarea style="width: 100%; height: 30em">
                    {{ scenario.topology_info_json }}
                </textarea>
            </label>
        </th>
    </tr>
</table>

<div class="skip-sm"></div>

{% load tomato %}

{% if request.session.user.isGlobalHostManager %}
<form>

    <button type="submit" formaction="{%url 'scenario_deploy' scenario.id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-info-sign"></span>
        topology info
    </button>
    <button type="submit" formaction="{%url 'scenario_upload_topo' scenario.id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-upload"></span>
        upload topo
    </button>
    <button type="submit" formaction="{%url 'scenario_download_topo' scenario.id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-download"></span>
        download topo
    </button>

    <button type="submit" formaction="{%url 'scenario_deploy' scenario.id %}" class="btn btn-primary">
        <span class="glyphicon glyphicon-cog"></span>
        deploy scenario
    </button>
    <button type="submit" formaction="{%url 'scenario_edit' scenario.id %}" class="btn btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
        edit scenario
    </button>
    <button type="submit" formaction="{%url 'scenario_remove' scenario.id %}" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
        remove scenario
    </button>

</form>
{%endif%}

{% endblock %}