{% extends "topology/base.html" %}

{% load url from future %}

{% load tomato %}

{% block title %}
<title>Scenarios - ToMaTo Testbed</title>
{% endblock %}

{% block header %}
<base href="/"/>
<link type="text/css" href="/style/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="/style/ui.ribbon.css" rel="stylesheet" />
<link type="text/css" href="/style/jquery.contextMenu.css" rel="stylesheet" />
<link type="text/css" href="/style/editor.css" rel="stylesheet" />
<link type="text/css" href="/style/pretty-json.css" rel="stylesheet" />

<script language="JavaScript" type="text/javascript" src="/js/jquery-ui.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/ui.ribbon.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery.contextMenu.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/raphael.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/util.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/browser_issues.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/dynimg.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/underscore-min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/backbone-min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/pretty-json-min.js"></script>

<script language="JavaScript" type="text/javascript" src="js/editor/settings.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/ajax.js"></script>

<script language="JavaScript" type="text/javascript" src="js/editor/form_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/form_elements/checkbox_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/form_elements/choice_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/form_elements/template_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/form_elements/textarea_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/form_elements/text_element.js"></script>
<!--
<script language="JavaScript" type="text/javascript" src="js/editor/menu.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/menus/menu_group.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/menus/menu_tab.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/menus/menus/component_menu.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/menus/menus/connection_menu.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/menus/menus/element_menu.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/menus/menus/topology_menu.js"></script>

<script language="JavaScript" type="text/javascript" src="js/editor/profile.js"></script>

<script language="JavaScript" type="text/javascript" src="js/editor/template.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/dummy_custom_template.js"></script>
-->
<script language="JavaScript" type="text/javascript" src="js/editor/window.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/windows/attribute_window.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/windows/connection_attribute_window.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/windows/error_window.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/windows/input_window.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/windows/permissions_window.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/windows/template_window.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/windows/default_executable_archive_window.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/windows/default_executable_archive_detail_window.js"></script>
<!--
<script language="JavaScript" type="text/javascript" src="js/editor/component.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/connection.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/elements/child_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/elements/child_elements/switch_port_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/elements/child_elements/vm_interface_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/elements/hidden_child_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/elements/icon_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/elements/icon_elements/external_network.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/elements/icon_elements/vm_element.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/components/elements/icon_elements/vpn_element.js"></script>

<script language="JavaScript" type="text/javascript" src="js/editor/stores/network_store.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/stores/profile_store.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/stores/template_store.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/rextfv_status_updater.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/options.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/workspace.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/topology.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor/editor.js"></script>
-->

<script language="JavaScript" type="text/javascript">
    help_baseUrl = "{%externalurl 'help' %}";

    function remove_scenario(scenarioId) {
        ajax({
            url: 'scenario/' + scenarioId + '/remove',
            data: {'scenario_id': scenarioId},
            successFn: function (result) {
                console.log("Remove Scenario: Success.");
                console.log("Result: " + result);
                var tr_element = $('#tr_' + scenarioId);
                tr_element.empty();
                tr_element.remove();
            },
            errorFn: function (error) {
                console.log("Remove Scenario: Fail.");
                console.log("Error: " + error)
            }
        });
    }

    function deploy_scenario(scenarioId) {
        ajax({
            url: 'scenario/' + scenarioId + '/deploy',
            data: {'scenario_id': scenarioId},
            successFn: function (result) {
                console.log("Deploy Scenario: Success.");
                console.log("Result: " + result);
            },
            errorFn: function (error) {
                console.log("Deploy Scenario: Fail.");
                console.log("Result: " + error);
                var errorWindow = new AttributeWindow({
                    title: "Error",
                    position: { my: "center center", at: "center center", of: window },
                    buttons: [
                        {
                            text: "OK",
                            click: function() {
                                errorWindow.remove();
                            }
                        }
                    ]
                });
            }
        });
    }

    function edit_scenario(scenarioId, data) {
        // data: {name, description, accessibility, topology_info_json}
        ajax({
            url: 'scenario/' + scenarioId + '/modify',
            data: data,
            successFn: function (result) {
                console.log("Edit Scenario: Success.");
                console.log("Result: " + result)
            },
            errorFn: function (error) {
                console.log("Edit Scenario: Fail.");
                console.log("Result: " + error);
                new errorWindow({error:error});
            }
        })
    }

    function showDeleteDialog(scenarioId) {
        var dialog = new AttributeWindow({
            // title: "Delete Scenario",
            position: { my: "center center", at: "center center", of: window },
            width: 500,
            buttons: [
                {
                    text: "Delete",
                    click: function() {
                        remove_scenario(scenarioId);
                        dialog.remove();
                    }
                },
                {
                    text: "Cancel",
                    click: function() {
                        dialog.remove();
                    }
                }
            ]
        });
        dialog.setTitle('Delete Scenario ' + scenarioId);
        dialog.addText('<p>Are you sure to remove this scenario?</p>');
        dialog.show();
    }

    function showEditDialog(scenarioId) {
        var t = this;
        var scenario_id, name, description, accessibility, topology_info_json;  // author
        var choices = {
            "private": "Private",
            "public": "Public"
        };
        var dialog = new AttributeWindow({
            title: 'Edit Scenario ' + scenarioId,
            position: { my: "center center", at: "center center", of: window },
            width: 500,
            buttons: [
                {
                    text: "Save",
                    id: "scenario_edit_dialog_save",
                    click: function() {
                        var data = {
                            // "scenario_id"
                            // "author"
                            "name": name.getValue(),
                            "description": description.getValue(),
                            "accessibility": accessibility.getValue(),
                            "topology_info_json": topology_info_json.getValue()
                        };
                        edit_scenario(scenarioId, data);
                        dialog.remove();
                    }
                },
                {
                    text: "Cancel",
                    click: function() {
                        dialog.remove();
                    }
                }
            ]
        });

        scenario_id = dialog.add(new TextElement({
            name: "scenario_id",
            label: "ID",
            disabled: true,
            value: scenarioId
        }));
        name = dialog.add(new TextElement({
            name: "name",
            label: "Name",
            help_text: "The name of your scenario",
            onChangeFct: function() {
                // TODO: name inspection ineffective?
                if(this.value == '') {
                    $('#scenario_edit_dialog_save').button('disable');
                } else {
                    $('#scenario_edit_dialog_save').button('enable');
                }
            }
            // value = this.name
        }));
        description = dialog.add(new TextAreaElement({
            name: "description",
            label: "Description",
            help_text: "The text description of your scenario."
            // value = this.description
        }));
        accessibility = dialog.add(new ChoiceElement({
            name: "accessibility",
            label: "Accessibility",
            choices: choices,
            help_text: "Whether other users can use the scenario."
            // value: choices[0],
        }));
        topology_info_json = dialog.add(new TextAreaElement({
            name: "topology_info_json",
            label: "Topology Info",
            help_text: "The topology info in JSON format."
            // value = this.description
        }));

        dialog.show();
    }

    function showDeployDialog(scenarioId) {
        var dialog = new AttributeWindow({
            title: "Save As Scenario",
            position: { my: "center center", at: "center center", of: window },
            width: 500,
            buttons: [
                {
                    text: "Deploy",
                    click: function() {
                        deploy_scenario(scenarioId);
                        dialog.remove();
                    }
                },
                {
                    text: "Cancel",
                    click: function() {
                        dialog.remove();
                    }
                }
            ]
        });
        dialog.setTitle('Deploy Scenario ' + scenarioId);
        dialog.addText('<p>Are you sure to deploy this scenario?</p>');
        dialog.show();
    }

</script>
{% endblock %}

{% block content %}
<h1>Scenarios</h1>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-filter"></span>
        {% if show == 'all' %}
            Showing all scenarios
        {% elif show == 'my' %}
            Showing my scenarios
        {% elif show == 'public' %}
            Showing public scenarios
        {% else %}
            Error...
        {% endif %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url "scenario_list" %}">Show all scenarios</a></li>
        <li class="divider"></li>
        <li><a href="{% url "scenario_list_my" %}">Showing my scenarios</a></li>
        <li><a href="{% url "scenario_list_public" %}">Showing public scenarios</a></li>
    </ul>
</div>

<div class="skip-sm"></div>

<form>
    <button type="submit" formaction="{%url 'scenario_add'%}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        Add Scenario</button>
</form>

<script src="/js/enhancetable.js"></script>

<table class="sortable,filterable table table-striped" id="scenario_table">
    {% if scenario_list %}
        <thead>
            <tr>
                {# <th>ID</th> #}
                <th>Name</th>
                <th>Description</th>
                <th>Accessibility</th>
                <th>Author</th>
                <th>Create Time</th>
                {#<th>Edit</th>#}
                {#<th>Deploy</th>#}
                {#<th>Delete</th>#}
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenario_list %}
            <tr id="tr_{{ scenario.id }}">
                {#<td>{{ scenario.id }}</td>#}
                <td><a href='{% url "scenario_info" scenario.id %}'>{{ scenario.name }}</a></td>
                <td>{{ scenario.description }}</td>
                <td>{{ scenario.accessibility }}</td>
                <td>{{ scenario.author }}</td>
                <td>{{ scenario.create_time }}</td>
                {#<td><button class="editButton" onclick="showEditDialog('{{ scenario.id }}')">Edit</button></td>#}
                {#<td><button class="deployButton" onclick="showDeployDialog('{{ scenario.id }}')">Deploy</button></td>#}
                {#<td><button class="deleteButton" onclick="showDeleteDialog('{{ scenario.id }}')">Delete</button></td>#}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    {% else %}
        No scenarios. You can save a topology as a scenario in the edit panel of the topology.
    {% endif %}
</table>

{% endblock %}
