{% extends "topology/base.html" %}
{% load i18n %}

{% load url from future %}

{% load tomato %}

{% block title %}
<title>Scenarios - ProviSec Testbed</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>{%trans 'Scenarios'%}</h1>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-filter"></span>
        {% if show == 'all' %}
            {%trans 'Showing all scenarios'%}
        {% elif show == 'my' %}
            {%trans 'Showing my scenarios'%}
        {% elif show == 'public' %}
            {%trans 'Showing public scenarios'%}
        {% else %}
            {%trans 'Error...'%}
        {% endif %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url "scenario_list" %}">{%trans 'Show all scenarios'%}</a></li>
        <li class="divider"></li>
        <li><a href="{% url "scenario_list_my" %}">{%trans 'Showing my scenarios'%}</a></li>
        <li><a href="{% url "scenario_list_public" %}">{%trans 'Showing public scenarios'%}</a></li>
    </ul>
</div>

<div class="skip-sm"></div>

<form>
    <button type="submit" formaction="{%url 'scenario_add'%}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        {%trans 'Add Scenario'%}</button>
</form>

<script src="/js/enhancetable.js"></script>

<table class="sortable,filterable table table-striped" id="scenario_table">
    {% if scenario_list %}
        <thead>
            <tr>
                {# <th>{%trans 'ID'%}</th> #}
                <th>{%trans 'Name'%}</th>
                <th>{%trans 'Description'%}</th>
                <th>{%trans 'Accessibility'%}</th>
                <th>{%trans 'Author'%}</th>
                <th>{%trans 'Create Time'%}</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenario_list %}
            <tr id="tr_{{ scenario.id }}">
                {#<td>{{ scenario.id }}</td>#}
                <td><a href='{% url "scenario_info" scenario.id %}'>{{ scenario.name }}</a></td>
                <td>{{ scenario.description }}</td>
                <td>{{ scenario.accessibility }}</td>
                <td>{{ scenario.author }}</td>
                <td>{{ scenario.create_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    {% else %}
        {%trans 'No scenarios. You can save a topology as a scenario in the edit panel of the topology.'%}
    {% endif %}
</table>

{% endblock %}
