{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% load tomato %}

{% block title %}
<title>Group - ProviSec Testbed</title>
{% endblock %}

{% block content %}
<h1>Group</h1>

<div class="skip-sm"></div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-filter"></span>
    {% if role %}
      {% trans 'Showing '%} {{ role }} {% trans ' groups' %}
    {% else %}
      {% trans 'Showing all groups' %}
    {% endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url "admin_group_list"%}">{%trans 'Show all groups'%}</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">{%trans "My Groups"%}</li>
    <li><a href="{% url "admin_account_groups" user=request.session.user.name %}">{%trans 'My Groups'%}</a></li>
    <li><a href="{% url "admin_account_groups_role" user=request.session.user.name role="owner" %}">{%trans 'Owing'%}</a></li>
    <li><a href="{% url "admin_account_groups_role" user=request.session.user.name role="manager" %}">{%trans 'Managing'%}</a></li>
    <li><a href="{% url "admin_account_groups_role" user=request.session.user.name role="user" %}">{%trans 'User'%}</a></li>

  </ul>
</div>


{% if groups %}
<script src="/js/enhancetable.js"></script>
<table class="sortable,filterable table table-striped">

    <tr>
        <th>Name</th>
        <th>Label</th>
        {# <th>Description</th> #}
        <th>Role</th>
    </tr>

    {% for group in groups %}
    <tr>
        <td><a href="{% url 'admin_group_info' group.name %}">{{ group.name }}</a></td>
        <td>{{ group.label }}</td>
        {# <td>{{ group.description }}</td> #}
        <td>{{ group.role }}</td>
    </tr>
    {% endfor %}

</table>
{% else %}
<p>No Group</p>
{% endif %}

{# Every user is able to create group #}
{#{% if request.session.user.isAdmin %}#}
<form>
    <button type="submit" formaction="{%url 'admin_group_add' %}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        Add group
    </button>
</form>
{#{% endif %}#}

{% endblock %}