<!DOCTYPE html
	PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html> 
<head> 
 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

 {% load i18n %}

<meta name="DESCRIPTION" content="German Lab Webpage" /> 

<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/icons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/icons/manifest.json">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#9c3036">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="ToMaTo">
<meta name="application-name" content="ToMaTo">
<meta name="msapplication-TileColor" content="#9c3036">
<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Bootstrap core CSS -->
<link href="/style/bootstrap.min.css" rel="stylesheet">
<link href="/style/bootstrap-multiselect.css" rel="stylesheet">
<link href="/style/bootstrap-file.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/style/justified-nav.css" rel="stylesheet">

<link href="/style/icomoon-rss.css" rel="stylesheet">

<link href="/style/custom.css" rel="stylesheet">

<!-- changelayout20161220 -->
<link href="/style/20161220/css/custom.min.css" rel="stylesheet">
<link href="/style/20161220/css/fonts/css/font-awesome.css" rel="stylesheet">



<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
{% load url from future %}
{% load tomato %}

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-multiselect.js"></script>
<script src="/js/tab.js"></script>

<script src="/js/loading_popup.js"></script>
{% block title %}
<title>ToMaTo Testbed</title>
{% endblock %}
{% block header %}
{% endblock %}
</head>
<body class="nav-md" style="background: #2a3f54">
<div class="container body">

<div id="javascriptwarning">You have disabled Javascript. This may result in incorrect page display, and the editor won't work.</div>
<script language="JavaScript" type="text/javascript">
var css = '#javascriptwarning{display:none;}',
head = document.getElementsByTagName('head')[0],
style = document.createElement('style');

style.type = 'text/css';
if (style.styleSheet){
style.styleSheet.cssText = css;
} else {
style.appendChild(document.createTextNode(css));
}

head.appendChild(style);
</script>


{% block page %}
{% load tomato %}

{% if not request.session.user %}
<form id="loginnavbarform" method="post" action="{%url "main.login"%}" style="display:none;">
  <input type="hidden" name="forward_url" value="{{request.path}}" />
</form>
{% endif %}

	<div class="main_container">
        <div class="col-md-3 left_col" id="menu_">
        	<div class="left_col DeepBlue scroll-view" style="width:100%">
            <div class = "site_title">
            <span><i calss = "fa fa-paw"></i>BUPT ProviSec</span>
            </div>
        	<!-- <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><img src="img/bupt.jpg" alt="..." class="img-circle profile_img"></a>
            </div> -->

            <!-- <div class="clearfix"></div> -->

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/img/bupt.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span><i>Welcome</i></span>
                <!-- </br>
                <h>{{uesrname}}</h> -->
              </div>
            </div>
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="width:100%">
					<div class="menu_section active">


					<!-- <div class="btn-group" role="group" aria-label="...">
						{% if request.session.user %}
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{{request.session.user.realname}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="{%url "account.info"%}">My Account</a></li>
									<li><a href="{%url "main.logout" %}">Log Out</a></li>
								</ul>
							</div>
							<button type="button" class="btn btn-default" onclick="location.href='{% url "sys_config.config"%}';">
								&nbsp Configuration
							</button>
							<button type="button" class="btn {%if request.session.user.notification_count%}btn-info{%else%}btn-default{%endif%}" onclick="location.href='{% url 'tomato.account.unread_notifications'%}';">
								<span class="glyphicon glyphicon-bell"></span>&nbsp;<span class="badge">{{request.session.user.notification_count}}</span>
							</button>							
						{% else %}
							<button type="button" class="btn btn-primary" onclick="document.getElementById('loginnavbarform').submit();" href="#">
								<span class="glyphicon glyphicon-user"></span> Login
							</button>
							<button type="button" class="btn btn-default" onclick="location.href='{%url "account.register"%}';">
								Register
							</button>
						{% endif %}
					</div> -->


			        	<ul class="nav side-menu">
			        		{% if request.session.user %}
			        		<li>
			        			<a><i class="fa"  aria-haspopup="true" aria-expanded="false">{{request.session.user.realname}}</i><span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
									<li><a href="{%url "account.info"%}">My Account</a></li>
									<li><a href="{%url "main.logout" %}">Log Out</a></li>
									</ul>
							</li>
							<li>
								<!-- <a  href="{% url 'tomato.account.unread_notifications'%}"><i class="fa {%if request.session.user.notification_count%}btn-info{%else%}btn-default{%endif%}"">{{request.session.user.notification_count}}</i><span class="fa fa-chevron-down"></span></a> -->
							</li>
							
							<li>
							{% else %}
							<!-- <a href="{%url "topology_list"%}"><i class="fa">Login</i><span class="fa fa-chevron-down"></span></a>
							<a class="fa" herf="document.getElementById('loginnavbarform').submit();" href="#">
								<span class="glyphicon glyphicon-user"></span> Login
							</button>
							<button type="button" class="fa" onclick="location.href='{%url "account.register"%}';">
								Register
							</button> -->
							{% endif %}
							</li>


							<li>	
									{% if request.session.user %}
									<a href="{%url "topology_list"%}"><i class="fa">MyTopologies</i><span class="fa"></span></a>

				        			{% if request.session.user.isAdmin %} 
							</li>
							<li>
									<a><i class="fa">Users</i><span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="{%url "account_list"%}">Your Organization's accounts</a></li>
										<li><a href="{%url "account_list_all"%}">All accounts</a></li>
										<li><a href="{%url "account_list_registrations"%}">Pending account registrations</a></li>
										<li><a href="{%url "tomato.account.announcement_form"%}">Broadcast new announcement</a></li>
									</ul>
							</li>
							{% endif %}

							<li>
								<a><i class="fa">Resources</i><span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a href="{%url "template.list"%}">Templates</a></li>
									<li><a href="{%url "profile.list"%}">Device profiles</a></li>
									<li><a href="{%url "external_network.list"%}">External networks</a></li>
									<li><a href="{% url "web_resources.executable_archive_list" %}">Default Executable Archives</a></li>
									<li><a href="{% url "web_resources.custom_element_icon_list" %}">Custom Element Icons</a></li>
                                    <li><a href="{% url 'scenario_list' %}">Scenarios</a></li>
                                    <li><a href="{% url 'malicious_code_list' %}">Malicious Code</a></li>
                                    <li><a href="{% url 'security_software_list' %}">Security Softwares</a></li>
                                    <li><a href="{% url 'vulnerability_list'%}">Vulnerabilities</a></li>
								</ul>
							</li>

							{% endif %}
							<li>
								<a><i class="fa">Testbed</i> <span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a href="{%url "admin.organization.list"%}">Organizations</a></li>
									<li><a href="{%url "site_map.map"%}">Sites map</a></li>
									{% if request.session.user %}
									<li><a href="{%url "admin.host.list"%}">Hosts</a></li>
									{% endif %}
									<li><a href="{%url "main.statistics"%}">Statistics</a></li>
								</ul>
							</li>
							{% if request.session.user.hasDebugFlag %}
							<li>
								<a><i class="fa">Debug</i><span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a href="{%url "dumpmanager.group_list"%}">Dump Manager</a></li>
									<li><a href="{%url "tomato.debug.stats"%}">Backend</a></li>
									<li><a href="{%url "tomato.debug.stats" "backend_api"%}">&nbsp; backend_api</a></li>
									<li><a href="{%url "tomato.debug.stats" "backend_users"%}">&nbsp; backend_users</a></li>
									<li><a href="{%url "tomato.debug.stats" "backend_core"%}">&nbsp; backend_core</a></li>
									<li><a href="{%url "tomato.debug.stats" "backend_accounting"%}">&nbsp; backend_accounting</a></li>
									<li><a href="{%url "tomato.debug.stats" "backend_debug"%}">&nbsp; backend_debug</a></li>
									{% duration_log_enabled as show_duration_log_link %}
									{% if show_duration_log_link %}
										<li><a href="{%url "tomato.debug.api_call_stats"%}">API Call Durations</a></li>
									{% endif %}
								</ul>
							</li>
							{% endif %}

							<li>
								<a><i class="fa">Links</i><span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
						      		<li><a href="{%externalurl 'project' %}" target="_blank">Project</a></li>
									<li><a href="{%externalurl 'help' %}" target="_help">Help</a></li>
									<li><a href="{%externalurl 'bugtracker' %}" target="_help">Bugtracker</a></li>
						   			<li><a href="{%externalurl 'aup' %}" target="_blank">Acceptable Use Policy</a></li>
			   						<li><a href="{%url "help.contact_form"%}">Contact</a></li>
								</ul>
							</li>
			       		</ul>
		       		</div>
	       		</div>
       		</div>
      	</div>
        <div style = "background-color: #d9dee4" class="top_nav">
        <div class = "nav_menu">
            <!-- <button type="button" class="btn btn-default" id="menu_toggle">
            Pack up</button> -->
            <button type="button" class="btn btn-default navbar-right" onclick="location.href='{% url "sys_config.config"%}';">
                &nbsp Configuration
            </button>
            <button type="button" class="btn {%if request.session.user.notification_count%}btn-info{%else%}btn-default{%endif%} navbar-right" onclick="location.href='{% url 'tomato.account.unread_notifications'%}';">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;<span class="badge">{{request.session.user.notification_count}}</span>
            </button>
        </div>
        </div>
      	<div class = "right_col row" id="r">
        
      	{% block content %}

	  	{% endblock %}    
	  	</div>
      	<!-- Site footer -->
      	<!-- <div class="footer nav-bottom">		
      		<ul>
   			<li><a href="{%url "help.help" "license/license"%}">License</a></li>
   			<li><a href="{%externalurl 'impressum' %}">Impressum</a></li>
   			</ul>
        	<p>&copy; Copyright 2013, Regionales Hochschulrechenzentrum Kaiserslautern (RHRK), Technische Universität Kaiserslautern</p>
        	<p class="version">Backend version: {% backend_version %} / Frontend version: {% frontend_version %}</p>
      	</div> -->

    </div> <!-- /container -->





</div>
<script src="/style/20161220/js/custom.js"></script>
</body> 
{% endblock %}
</html>
